@charset "utf-8";
*{margin:0; padding:0; border:0;}
ul,li{list-style:none;}
a{text-decoration:none; color:#000;}
img{border:0;}
.cf:after{content:''; display:block; clear:both;}
body{font-family: 'Noto Sans KR', sans-serif;}

#header{
	position:relative;
	width:100%;
	height:101px;
	z-index:99;
}
.header_top{
	width:100%;
	
	border-bottom:1px solid #eaeaea;
	box-sizing:border-box;
}
.header_cover{
	width:1400px;
	margin:0 auto;
}

.top_cover{
	width:100%;
	height:40px;
	line-height:40px;
	
}
.top_cover .float{
	width:30%;
}
.top_cover .top_left{
	float:left;
}
.top_cover .top_left > ul > li{
	float:left;
	margin-left:20px;
	font-weight:300;
}
.top_cover .top_left > ul > li:nth-child(1){
	margin-left:0;
}
.top_cover .top_right{
	float:right;
}
.top_cover .top_right > ul > li{
	float:left;
	margin-right:40px;
	font-weight:300;
}
.top_cover .top_right > ul > li:nth-child(3){
	margin-right:0;
}

.top_cover .top_right > ul > li >a{
	position:relative;
}
.top_cover .top_right > ul > li >a:after{
	content:'';
	width:11px;
	height:11px;
	display:block;
	position:absolute;
	top:50%;
	right:-15px;
	transform:translateY(-50%);
	background:url(../images/gnb-blank.png) no-repeat center/ 11px 11px;
}

.header_bot{
	position:relative;
	width:100%;
	height:60px;
	border-bottom:1px solid #eaeaea;
	box-sizing:border-box;
	background-color:#fff;
}
.header_bot .header_cover{
	width:1400px;
	height:60px;
	margin:0 auto;
}
.header_bot .bot_left{
	float:left;
	width:20%;
}
.header_bot .bot_left > ul > li{
	float:left;
	width:33.33%;
	text-align:center;
}
.header_bot .bot_left > ul > li a{
	display:block;
	width:100%;
	line-height:60px;	
	box-sizing:border-box;
}

.header_bot .bot_left > ul > li > a{
	font-weight:bold;
}

.header_bot .bot_left > ul > li .full_menu{
	position:absolute;
	top:60px;
	left:0;
	width:100%;
	height:350px;
	background-color:#fff;
	display:none;
}
.header_bot .bot_left > ul > li .full_menu .full_cover{
	width:1400px;
	margin:0 auto;
	text-align:left;
	line-height:40px;
}
.header_bot .bot_left > ul > li .full_menu .full_cover >ul{
	float:left;
	width:20%;
}

.header_bot .bot_left > ul > li .full_menu .full_cover >ol{
	float:left;
	width:10%;
}

.header_bot .bot_left > ul > li .full_2.full_menu .full_cover >ul{
	margin-left:10%;
}
.header_bot .bot_left > ul > li .full_3.full_menu .full_cover >ul{
	margin-left:15%;
}
.header_bot .bot_left > ul > li:hover .full_menu{
	display:block;
}

.header_bot  .h_logo{
	float:left;
	width:60%;
}
.header_bot  .h_logo a{
	display:block;
	width:250px;
	height:60px;
	margin:0 auto;
	padding-top:10.5px;
	box-sizing:border-box;
}
.header_bot  .h_logo a svg{
	display:block;
}

.header_bot .bot_right{
	float:left;
	width:20%;
} 
.header_bot .bot_right > ul > li{
	float:left;
	width:33.33%;
	line-height:60px;
	text-align:center;
	
}
.header_bot .bot_right > ul > li .full_menu{
	position:absolute;
	top:60px;
	left:0;
	width:100%;
	height:300px;
	background-color:#fff;
	 display:none;
}
.header_bot .bot_right > ul > li .full_menu .full_cover{
	width:1400px;
	margin:0 auto;
	text-align:left;
	line-height:40px;
}
.header_bot .bot_right > ul > li .full_menu .full_cover >ul{
	float:right;
}
.header_bot .bot_right > ul > li .full_menu.full_4 .full_cover >ul{
	width:19%;
}
.header_bot .bot_right > ul > li .full_menu.full_5 .full_cover > ul{
	width:12%;
}
.header_bot .bot_right > ul > li:hover .full_menu{
	display:block;
}
/*mobile*/


.mo_menu{
	position:absolute;
	top:50%;
	left:20px;
	transform:translateY(-50%);
	width:30px;
	height:30px;
	display:none;
}
.mo_menu .hamberger a{
	display:block;
	width:100%;
	height:100%;
}
.mo_menu .hamberger a img{
	display:block;
	width:100%;
	height:auto;
	margin-top:3px;
}
.mo_menu .hamberger a img.on{display:block;}
.mo_menu .hamberger a img.off{display:none;}


.hide_menu{
	position:relative;
	width:100%;
	z-index:99;
	background-color:#fff;
	display:none;
}
.hide_menu .h_menu1{
	border-top:1px solid #e1e1e1; 
	border-bottom:1px solid #e1e1e1; 
	box-sizing:border-box;
}
.hide_menu > ul >li.on{
	background-color:#e9e9e9;
}
/*주메뉴 클릭시 클릭된 메뉴와 하위메뉴 배경색상*/
.hide_menu .h_menu1 > li{
	width:100%;
	line-height:50px;
	margin:0 auto;
	overflow:hidden;
	padding-left:20px;
	box-sizing:border-box;
}
.hide_menu .h_menu1 > li a{
	position:relative;
	display:block;
	width:100%;
}
.hide_menu .h_menu1 > li a img{
	position:absolute;
	top:50%;
	right:0;
	transform:translateY(-50%);
	display:block;
	width:100%;
	height:auto;
}
.hide_menu .h_menu1 > li a img.on{display:block;}
.hide_menu .h_menu1 > li a img.off{display:none;}

.hide_menu .h_menu1 > li >ul{
	width:100%;
	height:0;
	padding-left:30px;
	box-sizing:border-box;
}
.hide_menu .h_menu1 > li >ul.on{
	height:auto;
}
.hide_menu .h_menu2{
	border-bottom:1px solid #e1e1e1;
	box-sizing:border-box;
}
.hide_menu .h_menu2 > li{
	width:100%;
	line-height:50px;
	margin:0 auto;
	overflow:hidden;
	padding-left:20px;
	box-sizing:border-box;
}
.hide_menu .h_menu2 > li a{
	position:relative;
	display:block;
	width:100%;
}
.hide_menu .h_menu2 > li a img{
	position:absolute;
	top:50%;
	right:0;
	transform:translateY(-50%);
	display:block;
	width:100%;
	height:auto;
}
.hide_menu .h_menu2 > li a img.on{display:block;}
.hide_menu .h_menu2 > li a img.off{display:none;}

.hide_menu .h_menu2 > li >ul{
	width:100%;
	height:0;
	padding-left:30px;
	box-sizing:border-box;
}
.hide_menu .h_menu2 > li >ul.on{
	height:auto;
}

.hide_menu .h_menu3{
	border-bottom:1px solid #e1e1e1;
	box-sizing:border-box;
}

.hide_menu .h_menu3 > li{
	width:90%;
	line-height:50px;
	margin:0 auto;
	overflow:hidden;
}

.hide_menu .h_menu4{
	border-bottom:1px solid #e1e1e1;
	box-sizing:border-box;
}

.hide_menu .h_menu4 > li{
	width:90%;
	line-height:50px;
	margin:0 auto;
	overflow:hidden;
}


section{

	width:100%;
}

article{
	
	height:auto;
	width:100%;
	max-width:1400px;
	margin:0 auto;
}
.pc-slide{
	position:relative;
	
}
.pc-slide ul{
	position:relative;
	width:100%;
	height:auto;
}
.pc-slide ul li{
	position:relative;
	width:100%;
	height:auto;
}
.pc-slide ul li a{display:block;width:100%;}
.pc-slide ul li a img{display:block;width:100%;height:auto;}

.pc-slide .prev-btn{
	position:absolute;
	top:50%;
	left:50px;
	transform:translateY(-50%);
	cursor:pointer;
}
.pc-slide .next-btn{
	position:absolute;
	top:50%;
	right:50px;
	transform:translateY(-50%);
	cursor:pointer;
}

.slick-prev:before,
.slick-next:before{
	color:black;
}


.mo-slide{
	position:relative;
}
.mo-slide ul.mo{
	
	width:100%;
	height:auto;
}
.mo-slide ul.mo>li{
	
	width:100%;
	height:auto;
}
.mo-slide ul.mo>li a{display:block;width:100%;}
.mo-slide ul.mo>li a img{display:block;width:100%;height:auto;}

.mo-slide .prev-btn{
	position:absolute;
	top:50%;
	left:50px;
	transform:translateY(-50%);
	cursor:pointer;
}
.mo-slide .next-btn{
	position:absolute;
	top:50%;
	right:50px;
	transform:translateY(-50%);
	cursor:pointer;
}
.mo-slide{
	display:none;
}
.slick-dots{
	bottom:30px;
}


#company{
	position:relative;
	width:100%;
	margin:100px 0;

}
#company .company_cover{
	width:1200px;
	margin:0 auto;
}
.company_cover .c_logo{
	text-align:center;
	font-size:32px;
	margin-bottom:50px;
}

.company_cover ul li{
	float:left;
	width:20%;
	margin-left:6.66%;
}

.company_cover ul li:nth-child(1){margin-left:0;}

.company_cover ul li img{
	display:block;
	width:40%;
	height:auto;
	margin:0 auto 20px;
}
.company_cover ul li a{
	display:block;
	width:100%;
	height:100%;
	text-align:center;
}

/* product */
#product{
	width:100%;
	position:relative;
}

.product_cover{
	width:1400px;
	margin:0 auto;
}

.product_cover .pro_logo{
	text-align:center;
	font-size:32px;
	margin-bottom:50px;
}
.product_cover ul{
	height:750px;
}

.product_cover ul li{
	float:left;
	background-color:#f1f1f1;
}
.product_cover ul li:hover{
	background-color:#333399;
}

.product_cover ul li a{
	position:relative;
	display:block;
	width:100%;
	height:100%;
}
.product_cover ul li a img{
	display:block;
	width:100%;
	height:auto;
	transition:all 0.6s;
}
.product_cover ul li a img.pc{display:block;}
.product_cover ul li a img.mo{display:none;}

.product_cover ul li a:hover{color:#fff;}

.product_cover ul li a:hover img{
	transform:scale(1.1);
}
.product_cover ul li:nth-child(1){
	width:49.5%;
	height:100%;
}
.product_cover ul li:nth-child(2){
	width:24.5%;
	height:49.5%;
	margin:0 .5%;
}

.product_cover ul li:nth-child(3){
	width:24.5%;
	height:49.5%;
}

.product_cover ul li:nth-child(4){
	width:49.5%;
	height:49.5%;
	margin:.5% 0 0 .5%;
}
.product_cover ul li a .p_title{
	position:absolute;
	bottom:15%;
	left:50%;
	transform:translateX(-50%);
}

.product_cover ul li a .p_text{
	position:absolute;
	bottom:10%;
	left:50%;
	transform:translateX(-50%);
	width:100%;
	text-align:center;
}

/* promotion */

#promotion{
	width:100%;
	position:relative;
	margin:100px 0;
}

.promotion_cover{
	width:1400px;
	margin:0 auto;
	background:url(../images/kf3-bg.jpg) no-repeat center/cover;
	padding:50px 0;
}

.mo_logo{
	text-align:center;
	font-size:32px;
	margin-bottom:50px;
}
.promotion_cover a{
	position:relative;
	display:block;
	width:100%;
	height:100%;
}

.promotion_cover a img{
	display:block;
	width:60%;
	height:auto;
	margin:0 auto;
}
.promotion_cover a img.play{
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%);
	width:8%;
}

#promotion .mo_text{
	text-align:center;
	margin:30px 0 15px;
}

#promotion .sub_text{
	font-size:28px;
	text-align:center;
}


/* brand */
#brand{
	width:100%;
	position:relative;
	margin:100px 0;
}

.b_logo{
	text-align:center;
	font-size:32px;
	margin-bottom:50px;
}

#brand .brand_cover{
	width:1400px;
	margin:0 auto;
}

#brand .brand_cover ul li{
	float:left;
	width:49%;
	margin-left:2%;
}

#brand .brand_cover ul li:nth-child(1){
	margin-left:0;
}
#brand .brand_cover ul li a{
	position:relative;
	display:block;
	width:100%;
	height:100%;
	overflow:hidden;
}

#brand .brand_cover ul li a img{
	display:block;
	width:100%;
	height:auto;
	transition:all .6s;
}

#brand .brand_cover ul li a:hover img{
	transform:scale(1.1);
}

#brand .brand_cover ul li a p{
	position:absolute;
	bottom:20px;
	left:50%;
	transform:translateX(-50%);
	text-align:center;
	color:#fff;
	font-size:20px;
}

/* explore */

#explore{
	width:100%;
	position:relative;
	margin:100px 0; 
}

.ex_logo{
	font-size:32px;
	text-align:center;
	margin-bottom:50px;
}
#explore .explore_cover{
	width:1400px;
	margin:0 auto;
}

.explore_cover ul{
	position:relative;
}

.explore_cover ul li{
	float:left;
	width:30%;
	margin-left:5%;
}

.explore_cover ul li:nth-child(1){
	margin-left:0;
}
.explore_cover ul li a{
	position:relative;
	display:block;
	width:100%;
	height:100%;
	overflow:hidden;
}

.explore_cover ul li a img{
	display:block;
	width:100%;
	height:auto;
	transition:all .6s;
}

.explore_cover ul li a p{
	position:absolute;
	bottom:20px;
	left:50%;
	transform:translateX(-50%);
	width:100%;
	color:#fff;
	font-weight:300;
	text-align:center;
	text-shadow:5px 5px 5px rgba(0,0,0,.6);
}
.explore_cover ul li a:hover img{
	transform:scale(1.1);
}
.explore_cover ul li a:hover p{
	text-decoration:underline;
}

.ex_pager{
	width:95%;
	margin:30px auto;
	display:none;
}
.ex_pager ul{
	width:100px;
	margin:0 auto;
}

.ex_pager ul li{
	float:left;
	width:20px;
	height:20px;
	border:2px solid #555;
	box-sizing:border-box;
	border-radius:50%;
	margin-left:20px;
}

.ex_pager ul li:nth-child(1){
	margin:0;
}

.ex_pager ul li a{
	display:block;
	width:100%;
	height:100%;
}

.ex_pager ul li.on{
	background-color:#555;
}

/* #explore */

#letter{
	position:relative;
	width:100%;
	margin:100px 0;
}

.letter_cover{
	position:relative;
	width:1400px;
	margin:0 auto;
}

.letter_cover img{
	display:block;
	width:100%;
	height:auto;
}

.letter_cover img.pc{
	display:block;
}

.letter_cover img.mo{
	display:none;
}

.letter_cover .text_box{
	position:absolute;
	top:50%;
	left:10%;
	transform:translateY(-50%);
	text-align:center;
}

.letter_cover .le_logo{
	color:#fff;
	font-size:28px;
}

.letter_cover .direct{
	display:block;
	width:150px;
	height:40px;
	line-height:40px;
	text-align:center;
	border:1px solid #fff;
	border-radius:50px;
	color:#fff;
	font-size:14px;
	margin:30px auto 0;
}

/* footer */

#footer{
	position:relative;
	width:100%;
	margin:150px 0 0;
	background-color:#f7f7f7;
	padding:80px 0 50px;
}

#footer .foot_cover{
	width:1400px;
	margin:0 auto;
}

.foot_top{
	width:100%;
	border-bottom:1px solid #c1c1c1;
}

.foot_top .top_left{
	float:left;
	width:50%;
	
}
.foot_top .top_left>li{
	float:left;
	width:33.33%;
	padding-left:30px;
	box-sizing:border-box;
}
.foot_top .top_left > li > ul > li{
	line-height:30px;
	font-size:14px;
	font-weight:300;
}

.foot_top .top_left > li > ul > li.notice a{
	color:#2F7DCD;
}

.foot_top .top_right{
	float:right;
	width:30%;
}

.foot_top .top_right > li{
	float:left;
	width:50%;
	font-weight:300;
	line-height:30px;
}
.foot_top .top_right > li > ul > li.bold{
	font-weight:500;
}
.foot_top .top_right > li.sub_bg > ul > li:not(.bold) a{
	position:relative;
}
.foot_top .top_right > li.sub_bg > ul > li:not(.bold) a:after{
	content:'';
	display:block;
	position:absolute;
	top:50%;
	right:-20px;
	transform:translateY(-50%);
	width:15px;
	height:15px;
	background:url(../images/gnb-blank.png) no-repeat center/15px;	
	
}

.foot_top .top_right > li > ul >li.margin{
	margin:20px 0;
}

.foot_top .top_right > li > ul > li a > ol > li{
	float:left;
	width:30%;
	margin-left:5%;
}
.foot_top .top_right > li > ul > li a > ol > li:nth-child(1){
	margin-left:0;
}
.foot_top .top_right > li > ul > li a > ol > li img{
	display:block;
	width:70%;
	height:auto;
	margin:0 auto;
}
.foot_bot{
	padding-top:50px;
}
.foot_bot .foot_logo{
	float:left;
	width:10%;
}
.foot_bot .foot_logo img{
	display:block;
	width:100%;
	height:auto;
}
.foot_bot .f_text_cover{
	float:left;
	padding-left:20px;
	color:gray;
	font-size:12px;
	box-sizing:border-box;
}

@media screen and (max-width: 1400px){
	/* fullmenu */
.header_bot	.bot_left > ul > li .full_menu .full_cover{
		width:95%;
	}
.header_bot	.bot_right > ul > li .full_menu .full_cover{
		width:95%;
	}
	/*header_cover*/
	.header_cover{
		width:95%;
	} 
	.header_bot  .header_cover{
		width:95%;
	}
	
	.product_cover{
		width:95%;
	}
	
	.promotion_cover{
		width:95%;
	}
	#brand .brand_cover{
		width:95%;
	}
	
	#explore .explore_cover{
		width:95%;
	}
	
	.letter_cover{
		width:95%;
	}
	
	#footer .foot_cover{
		width:95%;
	}
	
	
}

@media screen and (max-width : 1220px){
	
	#company .company_cover{
		width:95%;
	}
	.company_cover ul li img{
		margin:0 auto;
	}
	.product_cover ul li a .p_title{
		bottom:20%;
		font-size:16px;
	}
	.product_cover ul li a .p_text{
		font-size:14px;
	}
	#brand .brand_cover ul li a p{
		font-size:16px;
	}
	
	.explore_cover ul li a p{
		font-size:14px;
	}
	
	.foot_top .top_left > li > ul > li{
		font-size:12px;
		white-space:nowrap;
	}

}


@media screen and (max-width:1080px){
	.top_cover .top_right{width:40%;}
	
	.top_cover{font-size:12px;}
	.header_bot .header_cover{
		font-size:12px;
	}
	
	#brand  .brand_cover ul li{
		float:none;
		width:100%;
		margin:20px 0 0 0;
	}
	.explore_cover{
		overflow:hidden;
	}
	.explore_cover ul{
		width:300%;
	}
	.explore_cover ul li{
		width:33.33%;
		margin:0;
	}
	.explore_cover ul li a p{
		font-size:24px;
		font-weight:500;
		word-break:keep-all;
		/*줄바꿈 금지*/
	}
	.ex_pager{
		display:block;
	}
	.letter_cover img.pc{
		display:none;
	}
	.letter_cover img.mo{
		display:block;
	}
	
	.letter_cover .text_box{
		transform:translate(-50%,0);
		left:50%;
		top:auto;
		bottom:20%;
	}
	
	
	
	.letter_cover .le_logo{
		word-break:keep-all;
	}
	
	
	
	
}





@media screen and (max-width:780px){
	#header{
		height:60px;
	}
	.header_top{
		display:none;
	}
	.header_bot .bot_left{
		display:none;
	}
	.header_bot .bot_right{
		display:none;
	}
	.header_bot .h_logo{
		float:none;
		margin:0 auto;
	}
	.mo_menu{
		display:block;
	}
	
	
	.pc-slide{
		display:none;
	}
	.mo-slide{
		display:block;
	}
	.company_cover ul li{
		width:50%;
		margin:40px 0 0;
	}
	
	.company_cover ul li img{
		padding-bottom:40px;
	}
	.product_cover ul li:nth-child(1){
		width:49%;
		height:49%;
	}
	.product_cover ul li:nth-child(2){
		width:49%;
		height:49%;
		margin:0 0 0 2%;
	}
	.product_cover ul li:nth-child(3){
		width:49%;
		height:49%;
		margin:2% 0 0 0 ;
	}
	
	.product_cover ul li:nth-child(4){
		width:49%;
		height:49%;
		margin:2% 0 0 2%;
	}
	.product_cover ul{
		height:700px;
	}
	.product_cover ul li a img.pc{display:none;}
	.product_cover ul li a img.mo{display:block;}
	
	.foot_top .top_left > li{
		float:none;
	}
	.foot_top .top_right{
		width:50%;
	}
	.foot_top .top_right > li{
		float:none;
		width:100%;
	}	
	.foot_top .top_right > li > ul > li a > ol > li img{
		width:50%;
	}
	.foot_bot .foot_logo{
		padding-left:20px;
		float:none;
		width:25%;
	}
	
	.foot_bot .f_text_cover{
		float:none;
		margin-top:20px;
		font-size:14px;
	}
	
	
	
}

#scroll_btn{
	position:fixed;
	bottom:40px;
	right:40px;
	width:50px;
	height:50px;
	background-color:#555;
	display:none;
}
#scroll_btn a{
	display:block;
	width:100%;
}

#scroll_btn a img{
	display:block;
	width:100%;
	height:auto;
}

















